<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Luna needs your microphone to hear your requests.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Luna uses speech recognition to convert your voice into text for conversation.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
</dict>
</plist>
